{% extends 'base_template.html' %}
{% block title %} Home {% endblock %}

{% block main %}

<div class="container p-4">
    <div class="card">
        <div class="table-responsive card-body">
            <table class="table table-bordered table-light table-striped table-hover align-middle"
                style="text-align: start;">
                <thead>
                    <tr>
                        <th scope="col" colspan="5">Github Webhooks History</th>
                    </tr>
                </thead>
                <tbody id="data">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    // Async function call; populating data
    async function getData() {
        const response = await fetch(window.origin + "/api/get")
        const data = await response.json();
        length = data.length;
        var temp = "";

        for (i = 0; i < length; i++) {
            const d = new Date(data[i].timestamp);

            temp += "<tr>";
            if (data[i].action == "PUSH") {
                
                temp += "<td colspan='5'>" + data[i].author +" pushed to "+ data[i].to_branch + " on " + d.toUTCString() + "</td>";
   
            } else if (data[i].action == "PULL_REQUEST") {

                temp += "<td colspan='5'>" + data[i].author +" submitted a pull request from "+ data[i].from_branch + " to ";
                temp += data[i].to_branch + " on " + d.toUTCString() + "</td>";

            } else {

                temp += "<td colspan='5'>" + data[i].author + " merged " + data[i].from_branch + " to ";
                temp += data[i].to_branch + " on " + d.toUTCString() + "</td>";
            }
        }

        document.getElementById("data").innerHTML = temp;
    }

    getData();

    // Re-fetching data after 15 sec of interval
    setInterval(getData, 15000)
</script>

{% endblock %}