{% extends 'base_template.html' %}
{% block title %} Table {% endblock %}
{%block main %}

<meta id="my-data" data-current_page="{{page}}" data-total_pages="{{total_pages}}"
    data-max_btn_length="{{max_btn_length}}">

<div class="container p-4">
    <div class="card">
        <div class="table-responsive card-body">
            <table class="table table-bordered table-light table-striped table-hover align-middle"
                style="text-align: center">
                <thead>
                    <tr>
                        <th scope="col">Request Id</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action</th>
                        <th scope="col">Branch Flow</th>
                        <th scope="col">Date-Time</th>
                        <!-- <th scope="col">Time</th> -->
                    </tr>
                </thead>
                <tbody id="data"></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" style="text-align: center;" id="pagination-wrapper"></div>
</div>

{% endblock %} {% block script %}

<script>

    // Declaring jinja variable
    var jinjaData = $('#my-data').data();

    // Async function call; populating table
    async function getData() {
        const response = await fetch(window.origin + "/api/get");
        const data = await response.json();
        length = data.length;
        var temp = "";

        for (i = 0; i < length; i++) {
            const d = new Date(data[i].timestamp);
            temp += "<tr>";
            temp += "<td>" + data[i].request_id + "</td>";
            temp += "<td>" + data[i].author + "</td>";
            temp += "<td>" + data[i].action + "</td>";
            temp += "<td>" + data[i].from_branch + " -> " + data[i].to_branch + "</td>";
            temp += "<td>" + d.toUTCString(); + "</td>";
        }

        document.getElementById("data").innerHTML = temp;
    }

    getData();

    // Re-fetching data after 15 sec of interval
    setInterval(getData, 15000);

    // Pagination
    function pageButtons(pages) {
        var wrapper = document.getElementById('pagination-wrapper')

        wrapper.innerHTML = ``

        var maxLeft = (jinjaData.current_page - Math.floor(jinjaData.max_btn_length / 2))
        var maxRight = (jinjaData.current_page + Math.floor(jinjaData.max_btn_length / 2))

        if (maxLeft < 1) {
            maxLeft = 1
            maxRight = jinjaData.max_btn_length
        }

        if (maxRight > pages) {
            maxLeft = pages - (jinjaData.max_btn_length - 1)

            if (maxLeft < 1) {
                maxLeft = 1
            }
            maxRight = pages
        }

        for (var page = maxLeft; page <= maxRight; page++) {
            if (jinjaData.current_page == page) {
                wrapper.innerHTML += `<a value=${page} class="btn btn-info mx-1" href="?page=${page}">${page}</a>`
            } else {
                wrapper.innerHTML += `<a value=${page} class="btn btn-light mx-1" href="?page=${page}">${page}</a>`
            }
        }

        if (jinjaData.current_page != 1) {
            wrapper.innerHTML = `<a value=${1} class="btn btn-light mx-1" href="?page=1">&#171; First</a>` + wrapper.innerHTML
        } else if (jinjaData.current_page == 1) {
            wrapper.innerHTML = `<a value=${1} class="btn btn-light mx-1 disabled " href="?page=1">&#171; First</a>` + wrapper.innerHTML
        }

        if (jinjaData.current_page != pages) {
            wrapper.innerHTML += `<a value=${pages} class="btn btn-light mx-1" href="?page=${jinjaData.total_pages}">Last &#187;</a>`
        } else if (jinjaData.current_page == pages) {
            wrapper.innerHTML += `<a value=${pages} class="btn btn-light mx-1 disabled " href="?page=${jinjaData.total_pages}">Last &#187;</a>`
        }

    }

    pageButtons(jinjaData.total_pages)
</script>

{% endblock %}